@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Righteous&display=swap');

body * {
  font-family: 'Comfortaa';
}

a {
  text-decoration: none;
}

/* for mui textfield border radius */
.MuiOutlinedInput-root {
  border-radius: 15px !important;
}
