a {
  text-decoration: none;
}


h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  width: 25%;
  padding-top: 30px;
  /* padding-left: 500px; */
}

ul li {
  font-size: 20px;
} 